<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to My Wireframes!
  </h1>
<ul>
  <li>
    <img src="/assets/android.png" alt="homepage">
  </li>
  <li>
    <img src="/assets/android1.png" alt="homepage">
  </li>
  <li>
    <img src="/assets/home_page.png" alt="homepage">
  </li>
  <li>
    <img src="/assets/NewProject.png" alt="homepage">
  </li>
  <li>
    <img src="/assets/profile.png" alt="homepage">
  </li>
</ul>
</div>

